
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="user">Users</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-2 dual-collapse2">
        <div class="navbar-nav ml-auto">
            Hi, {{currentUser.firstName}}
            <a class="nav-item nav-link" (click)="logout()"><button type="button" class="btn btn-light">Logout</button></a>
        </div>
    </div>
</nav>
<ng4-loading-spinner> </ng4-loading-spinner>
<router-outlet></router-outlet>

