.action-button{
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 2px;
}
.validation-row{
    margin-top:10px;
}
.insert-button{
    margin-left: 10px;
    margin-bottom: 10px;
}
.insert-new{
    margin-bottom: 10px;
}